.login-container{
    margin-top: 3px;
}
.signup-container{
    margin-top: 5px;
}
.logo{
    margin-top: 10px;
}
.hellobhai{
    display: flex;
    flex-direction: row;
}
.hellobhai .btnabcd{
    height:40px;
    width:50%;
}
.hellobhai .btnxyz{
    height:40px;
    width:50%;
}