
.domain-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .domain-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 500px; /* Increase the width as per your preference */
    height: 420px; /* Increase the height as per your preference */
    margin-left: 20px;
  }
  
  .domain-card img {
    max-width: 350px;
    max-height: 300px; /* Adjust the max-height as per your preference */
    border-radius: 4px;
    margin-bottom: 10px;

  }
  .domain-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }
  .domain-card h3 {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .explore-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .explore-button:hover {
    background-color: #0056b3;
  }
  